body {
}

h1 {
	padding-top: 0.25em;
	text-align: center;
	font-size: 1.75em;
	font-weight: bold;
	line-height: 1.5em;
}

h2#cnum {
	margin-bottom: 1em;
	font-weight: bold;
	font-size: 1.25em;
	text-shadow: 0.044em 0.044em #C0C0C0;
	float: left;
}

h2#prof {
	margin-bottom: 1em;
	font-weight: bold;
	font-size: 1.25em;
	text-shadow: 0.044em 0.044em #C0C0C0;
	float: right;
}

div#nav {
	margin: auto;
	padding: 0.25em;
	width: 300px;
	height: 30px;
}

div#nav a {
	padding: 0.5em;
	margin-right: 0.80em;
	text-decoration: none;
	font-size: 1.025em;
	border: solid 1px #C0C0C0;
	color: #000000;

}

div#nav a:hover {
	background-color: #383838;
	color: #FFFFFF;
	border-color: #383838;
}

header {
	margin-top: 1em;
}

div#ribon {
	margin: auto;
	width: 562px;
	height: 66px;
	background-image: url('../img/ribon.png');
	background-repeat: no-repeat;
	color: #FFFFFF;
}

div#content_wrapper {
	margin: auto;
	width: 562px;
}



div#content_main {
	margin: auto;
	padding: 0.5em;
	width: 80%;
	border: solid 1px #C0C0C0;
	clear: both;
}

div#content_main p {
	padding: 0.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.90em;
	text-indent: 0.75em;
	line-height: 1.15em;
}

footer {
	padding: 0.5em;
	font-size: 0.85em;
	text-align: center;
}

